.App {
  text-align: center;
  width: 80%;
  height: 80%;
  display: flex;
}

/* styles.css */

/* styles.css */
body {
  margin: 0; /* Remove default margin */
  height: 100vh; /* Full height of the viewport */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  background-color: #f0f0f0; /* Optional: background color */
}

.form-container {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
  background-color: white; /* Background color for the form */
  padding: 40px; /* Increased padding inside the form */
  border-radius: 8px; /* Rounded corners for the form */
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2); /* Increased shadow for depth */
  width: 900px; /* Increased width for the form */
  max-width: 90%; /* Responsive max width */
}

.form-group {
  margin-bottom: 25px;
  width: 100%; /* Space between each input field */
}

.input-field {
  padding: 10px; /* Padding inside input fields */
  border: 1px solid #ccc; /* Border for input fields */
  border-radius: 4px; /* Rounded corners */
  width: 100%; /* Full width for input fields */
  max-width: 100%; /* Max width for input fields */
}

.bottom-div {
  margin-top: 25px; /* Space above the button */
}

.top-right {
  position: fixed; /* Fixed position for the button */
  top: 100px; /* Distance from the top */
  right: 20px; /* Distance from the right */
}

.top-div {
  margin-top: 20px; /* Space above the FileUpload component */
}

/* Calendar Specific Styles */
.react-datetime-picker {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 850px;
  height: 50px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
}

.react-datetime-picker__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.react-datetime-picker__inputGroup {
  min-width: 2ch;
  flex-grow: 1;
  padding: 0 2px;
}

.react-datetime-picker__inputGroup__input {
  min-width: 2ch;
  height: 30px;
  border: 0;
  background: none;
  font: inherit;
  box-sizing: content-box;
  -moz-appearance: textfield;
}

.react-datetime-picker__inputGroup__input::-webkit-outer-spin-button,
.react-datetime-picker__inputGroup__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: cyan;
  padding: 5px 5px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 500;
}

.navbar-brand {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.navbar-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  margin-left: 10px;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  padding: 5px;
  transition: background-color 0.3s;
}

.navbar-links a:hover {
  background-color: #575757;
  border-radius: 5px;
}

.content {
  margin-top: 60px; /* To prevent content from being hidden behind the navbar */
  padding: 20px;
}
